<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.girlpowertalk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1_round"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GirlPowerTalk">
        <activity android:name=".JudgeQues"
            android:launchMode = "singleTop"/>
        <activity android:name=".SubQues"
            android:launchMode = "singleTop"/>
        <activity android:name=".ChangeQuestions"
            android:launchMode = "singleTop"/>
        <activity android:name=".Progress"
            android:launchMode = "singleTop"/>
        <activity android:name=".userpage"
            android:launchMode = "singleTop"/>
        <activity android:name=".adminpage"
            android:launchMode = "singleTop"/>
        <activity android:name=".Signin"
            android:theme="@style/Theme.GirlPowerTalk.NoActionBar"
            android:launchMode = "singleTop"/>
        <activity android:name=".Hompage"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.GirlPowerTalk.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>